.Button {
	border: 2px solid #fff;
	color: #fff;
	background: inherit;
	border-radius: 5px;
	padding: 10px 15px;
	font-weight: 700;
	font-size: 12px;
	cursor: pointer;
	margin-right: 15px;
	text-transform: uppercase;
}

.Button:focus {
	outline: none;
}

.Button:focus {
	box-shadow: inser 2px 2px 1px rgba(0,0,0, .3);
}

.Button:disabled {
	border: 2px solid #ddd;
	color: #ddd;
	cursor: not-allowed;
}

.error {
	background-color: #dc2e02;
}

.success {
	background-color: #02dc59;
}

.primary {
	background-color: #2884f6;
}

@media(max-width: 400px) {
	.Button:nth-child(1n + 2) {
		margin-top: 15px;
	}
}