.AnswerItem {
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 5px 10px;
	margin-bottom: 5px;
	cursor: pointer;
	transition: background .3s ease-in-out;
}

.AnswerItem:hover {
	background: rgba(255,255,255,.2);
}

.AnswerItem.success {
	background: rgba(2, 220, 89, 0.641)
}

.AnswerItem.error {
	background: rgba(220, 46, 2, 0.641)
}