.QuizCreator {
	color: #fff;
	display: flex;
	justify-content: center;
	padding-top: 50px;
	flex-grow: 1;
	width: 100%;
	background: linear-gradient(270deg, #4f3cf0 0%, #f03cb8 100%);
	padding-bottom: 50px;
}

.QuizCreator > div {
	width: 100%;
	max-width: 600px;
	padding: 0 20px;
}

.QuizCreator h1 {
	text-align: center;
}

.QuizCreator form {
	background: #8339a2;
	border-radius: 10px;
	padding: 15px;
	box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}